# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*__pycache__

# Environments
env/
venv/
.env/
*.venv


# Editor files
.vscode/
.idea/
*.swp
*~

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Docker
docker-compose.override.yml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Other files
*.bak
*.tmp

# Arquivo CSV
dados_wifi.csv